body {
    background-image: url("Background.gif");
    background-size: cover;
}
.icon {
    display: inline-block;
    width: 45px; 
    height: 40px;
    background-image: url('ICON.jpg'); 
    background-size: cover;
    margin-right: 10px; 
    vertical-align: middle;
}
h1 {
background-color: #406e67a4;
color: #ffffff; 
padding: 10px; 
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: italic;
text-align: center;
}

div {
    display: flex;
    justify-self: center;
    align-self: center;
    flex-wrap: wrap;
}
div img:hover {
    filter: grayscale(1);
    transform: scale(1.03);
}